
<%- include("partials/header"); -%>

<h1>Register</h1>

<form class="" action="/register" method="post">
  <div class="form-group">
    <label>User Name</label>
    <input class="form-control" type="text" name="username">
    <label>Email</label>
    <input class="form-control" type="email" name="email">
    <label>Password</label>
    <input class="form-control" type="password" name="password">
    <label>Confirm Password</label>
    <input class="form-control" type="password" name="confirm_password">
  </div>

  <button class="btn btn-primary" type="submit" name="button">Sign-Up</button>
</form>



<%- include("partials/footer"); -%>
